$primaryColor: #5c068c;
$primaryColor25: #f9eeff;
$primaryColor50: #eed0ff;
$primaryColor100: #e3b1ff;
$primaryColor200: #D893FF;
$primaryColor500: #A135DE;
$primaryColor600: #7d1ab5;
$primaryColor700: #5c068c;
$primaryColor800: #400063;
$primaryColor900: #1d002e;

$successColor: #ecfdf3;
$successColor50: #ecfdf3;
$successColor100: #d1fadf;
$successColor500: #12B76A;
$successColor600: #039855;
$successColor700: #027a48;

$secondaryColor: #39cdcc;
$textColor: #545f7d;
$borderColor: #ccc;
$disabledColor: #ccc;

$errorColor25: #ffecfc;
$errorColor: #b42318;
$errorColor50: #fef3f2;
$errorColor100: #fee4e2;
$errorColor300: #FDA29B;
$errorColor500: #ca024f;
$errorColor600: #d92d20;
$errorColor700: #b42318;

$warningColor100: #fef0c7;
$warningColor500: #fef0c7;
$warningColor500-2: #F79009;
$warningColor600: #dc6803;
$warningColor700: #b54708;

$grayColor25: #fcfcfd;
$grayColor50: #f9fafb;
$grayColor100: #f2f4f7;
$grayColor200: #e4e7ec;
$grayColor300: #d0d5dd;
$grayColor400: #98a2b3;
$grayColor500: #667085;
$grayColor600: #475467;
$grayColor700: #344054;
$grayColor800: #1d2939;
$grayColor900: #101828;
$grayColorLabel: #6e7191;


$orangeColor50:#FEF6EE