@import "../Shared/colors";
.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.336);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  border: none;
  // height: 100vh;
  overflow-y: scroll;
  &.top {
    align-items: start;
    .modal-content {
      // height: 100%;
      transform: translateY(0px);
    }
    &.enter-done {
      .modal-content {
        transform: translateY(20px);
      }
    }
    &.exit {
      .modal-content {
        transform: translateY(0px);
      }
    }
  }
  &.right {
    justify-content: end;
    .modal-body {
      border-radius: 12px 0px 12px 12px;
      // height: 100%;
    }
    .modal-content {
      height: 100%;
      transform: translateX(200px);
    }
    &.enter-done {
      .modal-content {
        transform: translateX(0);
      }
    }
    &.exit {
      .modal-content {
        transform: translateX(200px);
      }
    }
  }
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  // background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
  // margin: auto 0;
  // height: 100%;
  // padding: 20px;
  // max-height: 560px;
  width: 100%;
  max-height: 100%;
  // overflow-y: scroll;
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-footer {
  // padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  margin: 0px 22.5px;
  padding: .75rem 0;
}

.modal-header {
  margin: 0px 22.5px;
  padding: 10px 0px 0 0;
  display: flex;
  align-items: start !important;
  justify-content: space-between;
  border-bottom: 0.5px solid #d9dbe9;
}

.modalTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  color: $grayColor800;
  padding-bottom: 16px;
  border-bottom: 2px solid $primaryColor700;
}
.modal-footer>* {
  margin: 0 -15px;
}
.modal-subTitle {
  font-size: 14px;
  color: $grayColor800;
  margin-bottom: 16px;
  &.error {
    color: $errorColor300;
  }
}

.modal-close-icon {
  cursor: pointer;
}

.modal-body {
  // padding: 0px 22.5px;
  background-color: white;
  border-radius: 12px;
  // height: 100%;
  // overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal-body::-webkit-scrollbar {
  display: none;
}

.modalItemCard {
  padding: 24px;
  border-radius: 8px;
  border: 1px solid $grayColor100;
  background-color: $grayColor25;
  .error {
    border-color: $errorColor300;
    background-color: $errorColor50;
  }
}

.modalItemsContainer {
  margin: 0px 22.5px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  overflow-x: hidden;
}

.modalItemContentsContainer {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.modalItemContent {
  display: flex;
  justify-content: space-between;
  .title {
    font-size: 14px;
    color: $grayColor600;
    line-height: 1.43;
    &.header {
      font-weight: 500;
      font-size: 12px;
      color: $grayColor800;
    }
  }
  .rightContent {
    font-size: 14px;
    color: $grayColor800;
    font-weight: 500;
    line-height: 1.43;
  }
}

.modalRadioOptionsContainer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 12px;
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: $grayColor600;
    flex: 1;
  }
  .modalRadioOptions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
  }
}
