@import "../Shared/colors";
.container {
  display: flex;
  align-items: center;
  // position: relative;
  border-radius: 9.6px;
  background-color: $grayColor100;
  width: 28.8px;
  padding: 1.6px;

  cursor: pointer;

  .ball {
    height: 12.8px;
    width: 12.8px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
      0px 1px 2px rgba(16, 24, 40, 0.06);
  }

  &.checked {
    background-color: $primaryColor700;

    .dumbSpace {
      flex: 1;
      animation: moveAnim 0.3s alternate 1;
    }

    @keyframes moveAnim {
      from {
        flex: none;
      }
      to {
        flex: 1;
      }
    }
  }
}
